body {
    background-color: rgba(0, 0, 0, 0.911);
}

h1 {
    color: white;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

hr {
    border-top: 2px solid white;
    margin-bottom: 0;
    margin-top: 2.5rem;
}

th,
td {
    color: white;
    text-align: center;
}

button {
    margin: 1rem;
}

p {
    color: white;
    margin: 0;
}

li.dropdown-item {
    width: fit-content;
    height: fit-content;
}

.card {
    border: 0px;
}
.card-text {
    color: black;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fec007;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fec007;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.btn-close {
    transition: transform .25s, opacity .25s;
    opacity: .7;
    cursor: pointer;
    font-size: 0.8rem;
}

.btn-close:hover {
    opacity: 1;
    transform: rotate(90deg);
}